<div class="container">
        <div class="content-container">
            <div class="image">
              <% if @user.photo.present? %>
                <%= image_tag @user.photo %>
              <% else %>
                <%= tag.p 'default_profile.png' %> <!-- Replace 'default_profile.png' with your default image path -->
              <% end %>
            </div>
            
              <div class="content">
                <a href="#">
                    <ul class="list"> 
                    <li><h3><%= @user.name%></h3></li>
                    </ul>
                </a>
                <div class="post">
                    <p>Number of posts: <%= @user.postsCounter%></p>
                </div>
              </div>
        </div>
        <div class="bio">
            <h3>Bio</h3>
            <p><%= @user.bio%></p>
        </div>
        <div class="post-btn">
          <a href="/users/<%= @user.id%>/posts/new"><button>Add Post</button></a>
        </div>
        <div class="posts ">
          <%if @posts.empty?%>
            <h2>No Post yet</h2>
          <%end%>
          <% @posts.each_with_index do |post, index| %>
            <div class="post-content bio">
                <a href="/users/<%= post.author_id%>/posts"><h3><%=post.title %> <%= index+1 %></h3></a>
                <p><%= post.text%></p>
                <div class="counts">
                    <p>Comments: <%= post.comments_counter%></p>
                    <p>Likes: <%= post.likes_counter%></p>
                </div>
            </div>
          <%end%>
          <a href="/users/<%= @user.id%>/posts">
          <button>See All Posts</button>
          </a>
        </div>
</div>


