<div class="container">
        <div class="posts ">
          <%if @post.nil?%>
            <h2>No Post yet</h2>
          <%end%>
            <div class="post-content bio">
                <div class="counts-section-top"> 
                     <h3><%= @post.title %> | <%= @user.name %> <%= @post.id %></h3>
                    <div class="counts">
                        <p>Comments: <%= @post.comments_counter%></p>
                        <p>Likes: <%= @post.likes_counter%></p>
                   </div>
                </div>
        
                <div class="delete-post">
                    <p><%= @post.text %></p>
                     <% if can? :destroy, @post %>
                      <%= button_to "Delete", user_post_path(@post.author_id, @post.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
                    <% end %>
                </div>
            </div>
            <div class="like">
              <%= button_to 'Like', user_post_likes_path(@user, @post), method: :post, remote: true %>
            </div>
            <div class="comments bio">
                        <h3>Comments</h3>
                        <% @post.comments.each do |comment| %>
                            <div class="comment">
                              <% user_id = comment.user_id %>
                              <strong><%= user = User.find(user_id).name %></strong>
                              <p><%= comment.text%></p>
                            </div>
                            <div>
                              <% if can? :destroy, comment %>
                                <%= button_to "Delete comment", user_post_comment_path(@user, comment.post_id, comment), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger pull-right' %>
                              <% end %>
                            </div>
                        <%end%>
            </div>
          <div class="link">
             <%= link_to 'Add a Comment', new_user_post_comment_path(@user, @post) %>
          </div>
        </div>
</div>